.box{
    border: 2px solid rosybrown;
    width: 15cm;
    height: 1.5cm;
    padding-left: 5px;
    text-align: center;
    margin-left: 26%;
    margin-top: 100px;
}
li{
    margin-left: 200px;
    float: left;
}