.box{
    border: 2px solid rosybrown;
    width: 15cm;
    height: 18cm;
    padding-left: 10px;
    padding-top: 15px;
    margin-left: 26%;
    margin-top: 25px;
    justify-content: center;
    background-color: white;
}
body{
    background-color: whitesmoke
}

.fname,.lname,.pswrd,.email,.cfrmpswrd{
    width: 10cm;
    height:.5cm;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    background-color: white;

}
.gender{
    margin-left: 10%;
}
.register,.reset{
    width: 10cm;
    height:1cm;
    border-radius: 38%;



}